<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Add Account</h4>
    </div>
    <form novalidate name="form">
      <fieldset>
        <div class="modal-body">
          <label for="account" class="sr-only">Account Name</label>
          <input type="text" class="form-control" id="account" placeholder="Account name" ng-model="account.name" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addAccount()" ng-disabled="form.$invalid">
            Save Account
          </button>
        </div>
      </fieldset>
    </form>
  </div>  
</div>
