<div ng-show="loaded">
  <table class="table">
    <tr>
      <td class="bom-acct-name">{{ account.name }}</td>
      <td class="bom-acct-balance text-right" ng-class="{negative: transaction.amount < 0}">{{ account.balance | currency }}</td>
    </tr>
  </table>

  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModal">
    <span class="glyphicon glyphicon-plus-sign"></span> Add Transaction
  </button>

  <table class="table">
    <tr ng-repeat="transaction in transactions | orderBy:'-timestamp'">
      <td>
        <span class="bom-txn-memo">{{ transaction.memo }}</span><br>
        <span class="bom-txn-timestamp">{{ transaction.timestamp | dateLocalize | date:'medium' }}</span>
      </td>
      <td class="text-right bom-txn-amount" ng-class="{negative: transaction.amount < 0}">{{ transaction.amount | currency }}</td>
    </tr>
  </table>

  <button class="btn btn-default btn-lg btn-block" ng-show="nextPageToken" ng-click="listTransactions()">Show More Transactions</button>

  <button id="delete" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#deleteModal">
    <span class="glyphicon glyphicon-minus-sign"></span> Delete Account
  </button>

  <div class="modal fade" ng-include="'partials/transaction-add.html'" id="addModal" role="dialog" tabindex="-1"></div>
  <div class="modal fade" ng-include="'partials/account-delete.html'" id="deleteModal" role="dialog" tabindex="-1"></div>
</div>
