<div ng-show="ctrl.loaded">
  <table class="table">
    <tr>
      <td class="act-name">
        <a data-toggle="modal" data-target="#act-edit-modal">{{ ctrl.account.name }}</a>
      </td>
      <td class="act-balance text-right" ng-class="{negative: ctrl.account.balance < 0}">
        <a data-toggle="modal" data-target="#act-edit-modal">{{ ctrl.account.balance | currency }}</a>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#txn-edit-modal" ng-click="ctrl.addTransaction()">
    <span class="glyphicon glyphicon-plus-sign"></span> Add Transaction
  </button>
  <table class="table">
    <tr ng-repeat="transaction in ctrl.transactions | filter:{ deleted: false } | orderBy:'-timestamp'" ng-click="ctrl.editTransaction(transaction)">
      <td>
        <a class="txn-memo" data-toggle="modal" data-target="#txn-edit-modal">{{ transaction.memo }}</a>
        <a class="txn-timestamp" data-toggle="modal" data-target="#txn-edit-modal">{{ transaction.timestamp | dateLocalize | date:'medium' }}</a>
      </td>
      <td class="text-right txn-amount" ng-class="{negative: transaction.type == '\u002d'}">
        <a data-toggle="modal" data-target="#txn-edit-modal">{{ transaction.amount | currency }}</a>
      </td>
    </tr>
  </table>
  <button class="btn btn-default btn-lg btn-block" ng-show="ctrl.nextPageToken" ng-click="ctrl.listTransactions()">
    Show More Transactions
  </button>
  <div class="modal fade" ng-include="'partials/account-edit.html'" id="act-edit-modal" role="dialog" tabindex="-1"></div>
  <div class="modal fade" ng-include="'partials/account-delete.html'" id="act-delete-modal" role="dialog" tabindex="-1"></div>
  <div class="modal fade" ng-include="'partials/transaction-edit.html'" id="txn-edit-modal" role="dialog" tabindex="-1"></div>
  <div class="modal fade" ng-include="'partials/transaction-delete.html'" id="txn-delete-modal" role="dialog" tabindex="-1"></div>
</div>
