<div class="list-group">
  <a ng-repeat="account in accounts | orderBy:'name'" class="list-group-item" href="#/accounts/{{ account.id }}">
    <span class="badge">{{ account.balance | currency }}</span>
    {{ account.name }}
  </a>
</div>

<div>
  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModal">
    <span class="glyphicon glyphicon-plus-sign"></span> Add Account
  </button>
</div>

<div class="modal fade" ng-include="'partials/account-add.html'" id="addModal" role="dialog" tabindex="-1"></div>
