<table class="table">
  <tr>
    <td>{{ account.name }}</td>
    <td class="text-right">{{ account.balance | currency }}</td>
  </tr>
</table>

<div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Transaction</button>
</div>

<table class="table">
  <tr ng-repeat="transaction in transactions">
    <td>{{ transaction.memo }}<br>{{ transaction.timestamp | date }}</td>
    <td class="text-right text-middle">{{ transaction.amount | currency }}</td>
  </tr>
</table>

<div ng-show="nextPageToken">
  <button class="btn btn-default" ng-click="getTransactions()">Show More Transactions</button>
</div>

<div>
  <button class="btn btn-danger">Delete Account</button>
</div>

<div class="modal fade" ng-include="'partials/transaction-add.html'" id="addModal" role="dialog" tabindex="-1"></div>
