<div ng-show="loaded">
  <table class="table">
    <tr ng-repeat="account in accounts | orderBy:'name'">
      <td class="act-name">
        <a href="#/accounts/{{ account.id }}">{{ account.name }}</a>
      </td>
      <td class="act-balance text-right" ng-class="{negative: transaction.amount < 0}">
        <a href="#/accounts/{{ account.id }}">{{ account.balance | currency }}</a>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#act-edit-modal">
    <span class="glyphicon glyphicon-plus-sign"></span> Add Account
  </button>
  <div class="modal fade" ng-include="'partials/account-edit.html'" id="act-edit-modal" role="dialog" tabindex="-1"></div>
</div>
