<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" ng-hide="account.id">Add Account</h4>
      <h4 class="modal-title" ng-show="account.id">Edit Account: {{ account.name }}</h4>
    </div>
    <form novalidate name="form">
      <fieldset>
        <div class="modal-body">
          <label for="account">Account name</label>
          <input type="text" class="form-control input-lg" id="account" ng-model="account.name" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" ng-click="saveAccount()" ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
          <button class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
          <div id="delete" ng-show="account.id">
            <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#act-delete-modal">
              <span class="glyphicon glyphicon-minus-sign"></span> Delete this account
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>  
</div>
