<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" ng-hide="ctrl.transaction.id">Add Transaction</h4>
      <h4 class="modal-title" ng-show="ctrl.transaction.id">Edit Transaction: {{ ctrl.transaction.memo }}</h4>
    </div>
    <form novalidate name="form">
      <fieldset>
        <div class="modal-body">
          <div class="form-group">
            <div class="btn-group">
              <label class="btn btn-default btn-lg" ng-class="{active: ctrl.transaction.type == '\u002b'}">
                <input type="radio" name="type" id="deposit" value="+" ng-model="ctrl.transaction.type">
                Deposit
              </label>
              <label class="btn btn-default btn-lg" ng-class="{active: ctrl.transaction.type == '\u002d'}">
                <input type="radio" name="type" id="withdrawal" value="-" ng-model="ctrl.transaction.type">
                Withdrawal
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-usd"></span>
              </span>
              <input type="text" class="form-control input-lg" id="amount" ng-model="ctrl.transaction.amount" ng-pattern="/^\d+(\.\d{0,2})?$/" required>
            </div>
          </div>
          <div class="form-group">
            <label for="memo">Memo</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
              </span>
              <input type="text" class="form-control input-lg" id="memo" ng-model="ctrl.transaction.memo" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" ng-click="ctrl.saveTransaction()" ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
          <button class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
          <div class="delete" ng-show="ctrl.transaction.id">
            <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#txn-delete-modal">
              <span class="glyphicon glyphicon-minus-sign"></span> Delete this transaction
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>  
</div>
