<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Add Transaction</h4>
    </div>
    <form novalidate name="form">
      <fieldset>
        <div class="modal-body">
          <div class="radio">
            <label>
              <input type="radio" name="type" id="deposit" value="+" ng-model="transaction.type">
              Deposit
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" id="withdrawal" value="-" ng-model="transaction.type">
              Withdrawal
            </label>
          </div>
          <label for="amount" class="sr-only">Amount</label>
          <input type="number" class="form-control" id="amount" placeholder="Amount" ng-model="transaction.amount" ng-pattern="/^\d+(\.\d{2})?$/" required>
          <label for="memo" class="sr-only">Memo</label>
          <input type="text" class="form-control" id="memo" placeholder="Memo" ng-model="transaction.memo" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="addTransaction()" ng-disabled="form.$invalid">
            Save Account
          </button>
        </div>
      </fieldset>
    </form>
  </div>  
</div>
