body {
  background-color: #f2f9f6;
  font-family: 'Roboto Slab';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  font-size: 16px;
}

.table {
  margin-bottom: 15px;
  margin-top: 15px;
}

.table a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.table tr:first-of-type td {
  border-top: none;
}

.btn-block {
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-group input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.modal-content {
  background-color: #f2f9f6;
}

.modal-header h4 {
  font-weight: bold;
}

.bom-acct-name {
  font-size: 32px;
  font-weight: bold;
}

.negative {
  color: red;
}

.bom-acct-balance {
  font-size: 32px;
  font-weight: bold;
}

.bom-txn-memo {
  font-size: 24px;
}

.bom-txn-timestamp {
  font-size: 16px;
  font-style: italic;
}

.bom-txn-amount {
  font-size: 24px;
  vertical-align: middle !important;
}

#header {
  background-color: #216c2a;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#header h1 a {
  color: #f2f9f6;
  display: block;
  font-family: Rye;
  text-align: center;
  text-decoration: none;
}

#header h1 a i {
  font-family: Quintessential;
}

#content {
  position: relative;
  top: 55px;
}

#intro {
  font-size: 16px;
  margin-top: 15px;
}

#delete {
  margin-top: 100px;
}
